* {
	box-sizing: border-box;
}
%reset-font {
	font: inherit;
}
%reset-main {
	@extend %reset-font;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
%reset-block {
	display: block;
}
%reset-list {
	list-style: none;
}
%reset-quotes {
	quotes: none;
	&:before, &:after {
		content: '';
		content: none;
	}
}
%reset-table {
	border-collapse: collapse;
	border-spacing: 0;
}
%reset-form-appearance {
	-webkit-appearance: none;
	-moz-appearance: none;
}
